:root {
  --pink-color: #fa3879;
  --orage-color: #ff8000;
  --blue-color: #5773ff;
  --green-color: #0c8;
  --white-color: #ffffff;
  --black-color: #282c35;
}
a {
  text-decoration: none;
}
a {
  color: white;
}
.App {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Quicksand", sans-serif;
  color: var(--white-color);
  background-color: #282c35;
}
#tsparticles {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
