.banner {
  display: flex;
  height: 400px;
  /* align-items: center; */
}
p {
  margin: 0;
}
.banner__left {
  width: 70%;
  transform: translateY(50%);
}

.banner__left__title {
  font-size: 70px;
}
.banner__left__title__name {
  color: var(--green-color);
  font-size: 80px;
  font-weight: 700;
}
.banner__left__title__web {
  /* color: var(--pink-color); */
  font-size: 80px;
  font-weight: bold;
  /* box-shadow: 0 1px 0 4px rgb(217 70 239 / 10%),
    inset 0 -2em 0 rgb(217 70 239 / 10%); */
  border-radius: 2px;
  padding: 0 2px 2px;
  display: inline-block;
  color: var(--blue-color);
  box-shadow: 0 1px 0 4px rgb(85 172 238 / 10%),
    inset 0 -2em 0 rgb(85 172 238 / 10%);
}
.banner__left__des {
  margin-top: 20px;
}

.banner__right {
  width: 30%;
  margin-left: 10px;
}
.banner__right img {
  width: 350px;
  border-radius: 10px;
}
.box {
  font-size: 80px;
  font-weight: bold;
  color: var(--green-color);
  box-shadow: 0 1px 0 4px rgb(20 184 166 / 10%),
    inset 0 -2em 0 rgb(20 184 166 / 10%);
}

/* @keyframes opacityText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
